[Unit]
Description=Serveur web pour le nichoir connecté
After=mosquitto.service
[Service]
Type=simple
Restart=always
RestartSec=15
User=runner
WorkingDirectory=/home/runner/ProjetNichoir/pi/website
ExecStart=python3 app.py
[Install]
WantedBy=multi-user.target
